<div class="self works">
    <div class="container">
        <div class="self__grid">
            <div class="self__img">
                <img src="images/nike-mini.png" alt="">
            </div>
            <div class="self__text">
                <h3 class="works__title">Nike</h3>
                <p class="works__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim egestas nulla
                    pellentesque pretium. Pellentesque in rhoncus accumsan, suspendisse dolor quis mi, lacinia velit. Arcu
                    enim, purus tempor proin. In congue sagittis suspendisse platea vivamus interdum. Quis tincidunt
                    lobortis scelerisque arcu nibh. Nibh in tristique odio tellus est amet pharetra accumsan felis.</p>
                <h3 class="works__right-title">DATE:</h3>
                 <p class="works__descr">20.01.2021</p>   
                <h3 class="works__right-title">CLIENT:</h3>
                 <p class="works__descr">Nike</p>
                <h3 class="works__right-title">Skills:</h3>
                <ul class="works__list">
                    <li>
                        @@include('../cube-mini/cube-mini.html')
                        <a href="#" class="works__categories-link">Photoshop</a>
                    </li>
                    <li>
                        @@include('../cube-mini/cube-mini.html')
                        <a href="#" class="works__categories-link">Photography</a>
                    </li>
                    <li>
                        @@include('../cube-mini/cube-mini.html')
                        <a href="#" class="works__categories-link">Branding</a>
                    </li>
                   
                </ul>
    
            </div>
        </div>
    </div>
</div>