<h3 class="works__right-title">search</h3>
<form class="works__search">
    <input type="text" placeholder="Search here..." name="search" class="works__input">
    <button class="works__btn"><img src="images/search.svg" alt=""></button>             
</form>
<div class="works__categories">
    <h3 class="works__right-title">categories</h3>
    <ul class="works__list">
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Designs</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">internet</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Other Stuff</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Photography</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Project</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Typography</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Web</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="works__categories-link">Web Development</a>
        </li>
    </ul>
</div>
<div class="works__tags">
    <h3 class="works__right-title">tags</h3>
    <ul class="works__list">
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/css.svg" alt="">            
                <span>css</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/drupal.svg" alt="">            
                <span>drupal</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/ghost.svg" alt="">            
                <span>ghost</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/gulp.svg" alt="">            
                <span>gulp</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/joomla.svg" alt="">            
                <span>joomla</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/php.svg" alt="">            
                <span>php</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/js.svg" alt="">            
                <span>javasript</span>
            </a>
        </li>
        <li>
            <a href="#" class="works__tags-link">
                <img src="images/wp.svg" alt="">            
                <span>wordpress</span>
            </a>
        </li>
    </ul>
</div>