<div class="works__card">
    <div class="works__img">
        <img src="images/nike-mini.png" alt="">
    </div>
    <div class="works__text">
        <h3 class="works__title">Nike</h3>
        <p class="works__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing
            tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing
            tristique pretium aliquam. </p>
        <a href="solo.html" class="works__link">learn more</a>
    </div>
</div>
<div class="works__card">
    <div class="works__img">
        <img src="images/openshop-mini.png" alt="">
    </div>
    <div class="works__text">
        <h3 class="works__title">Openshop</h3>
        <p class="works__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing
            tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing
            tristique pretium aliquam. </p>
        <a href="solo.html" class="works__link">learn more</a>
    </div>
</div>
<div class="works__card">
    <div class="works__img">
        <img src="images/mywork-mini.png" alt="">
    </div>
    <div class="works__text">
        <h3 class="works__title">My Work</h3>
        <p class="works__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing
            tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing
            tristique pretium aliquam. </p>
        <a href="solo.html" class="works__link">learn more</a>
    </div>
</div>