<div class="slider">
    <div class="sliderLines">
        <div class="slide">
            <div class="slider__text">
                <p class="slider__text-descr">@@text</p>
                <a href="#" class="slider__text-link">@@link</a>
            </div>
        </div>
        <div class="slide">
            <div class="slider__text">
                <p class="slider__text-descr">@@text</p>
                <a href="#" class="slider__text-link">@@link</a>
            </div>
        </div>
        <div class="slide">
            <div class="slider__text">
                <p class="slider__text-descr">@@text</p>
                <a href="#" class="slider__text-link">@@link</a>
            </div>
        </div>
    </div>
    <button class="slider__prev"><img src="images/arrow.svg" alt=""></button>
    <button class="slider__next"><img src="images/arrow.svg" alt=""></button>
</div>