<div class="recent">
    <div class="container">
        <h2 class="recent__title">Some of our recent works</h2>
        <div class="recent__grid">
            <div class="recent__left">
                @@include('./recent-left.html')
            </div>
            <div class="recent__right">
                @@include('./recent-right.html')
                <div class="recent__next">
                    <span>next</span>
                    <img src="images/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>