<div class="recent__left-item">
    <img src="images/nike.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item active">
    <img src="images/mywork.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/openshop.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/street.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/pearl.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/airpods.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/vuecinema.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>
<div class="recent__left-item">
    <img src="images/tv-show.png" alt="">
    <a href="#" class="recent__left-link">learn more</a>
</div>