<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>nike</span></div>
            <div class="recent__cube-item back"><span>nike</span></div>
            <div class="recent__cube-item right"><span>nike</span></div>
            <div class="recent__cube-item left"><span>nike</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers ">
    <div class="recent__rect">
        <div class="recent__cube active">
            <div class="recent__cube-item front"><span>mywork</span></div>
            <div class="recent__cube-item back"><span>mywork</span></div>
            <div class="recent__cube-item right"><span>mywork</span></div>
            <div class="recent__cube-item left"><span>mywork</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>openshop</span></div>
            <div class="recent__cube-item back"><span>openshop</span></div>
            <div class="recent__cube-item right"><span>openshop</span></div>
            <div class="recent__cube-item left"><span>openshop</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>street</span></div>
            <div class="recent__cube-item back"><span>street</span></div>
            <div class="recent__cube-item right"><span>street</span></div>
            <div class="recent__cube-item left"><span>street</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>pearl</span></div>
            <div class="recent__cube-item back"><span>pearl</span></div>
            <div class="recent__cube-item right"><span>pearl</span></div>
            <div class="recent__cube-item left"><span>pearl</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>airpods</span></div>
            <div class="recent__cube-item back"><span>airpods</span></div>
            <div class="recent__cube-item right"><span>airpods</span></div>
            <div class="recent__cube-item left"><span>airpods</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>cinema</span></div>
            <div class="recent__cube-item back"><span>cinema</span></div>
            <div class="recent__cube-item right"><span>cinema</span></div>
            <div class="recent__cube-item left"><span>cinema</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube">
            <div class="recent__cube-item front"><span>tv-show</span></div>
            <div class="recent__cube-item back"><span>tv-show</span></div>
            <div class="recent__cube-item right"><span>tv-show</span></div>
            <div class="recent__cube-item left"><span>tv-show</span></div>
            <div class="recent__cube-item top"></div>
            <div class="recent__cube-item bottom"></div>
        </div>
    </div>
</div>
<div class="recent__pers">
    <div class="recent__rect">
        <div class="recent__cube recent__cube-last">
            <div class="recent__cube-item top"></div>
        </div>
    </div>
</div>