<div class="about__left-item">
    <a href="#" class="about__link">experience</a>
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <div>
            <h3 class="about__left-title">2009-2010</h3>
            <p class="about__left-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
        </div>
    </div>
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <div>
            <h3 class="about__left-title">2010-2012</h3>
            <p class="about__left-descr">Lorem ipsum dolor sit amet, consectetur  amet   </p>
        </div>
    </div>
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <div>
            <h3 class="about__left-title">2015-2020</h3>
            <p class="about__left-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
        </div>
    </div>
</div>
<div class="about__left-item">
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <h3 class="about__left-title">(205) 555-0100</h3>
    </div>
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <h3 class="about__left-title">Matt Steward@gmail.com</h3>
    </div>
    <div class="about__text">
        @@include('../cube-mini/cube-mini.html')
        <h3 class="about__left-title">2715 Ash Dr.San Jose, South Dakota 83475</h3>
    </div>
    <a href="#" class="about__link">contact</a>
</div>