<h3 class="about__center-title">Matt Steward</h3>
<p class="about__center-descr">Web developer</p>
<div class="about__center-rect">
    <div class="skills__cube">
        <div class="skills__cube-item front"></div>
        <div class="skills__cube-item back"></div>
        <div class="skills__cube-item right"></div>
        <div class="skills__cube-item left"></div>
        <div class="skills__cube-item top"></div>
        <div class="skills__cube-item bottom"><img src="images/Steward.png" alt=""></div>
    </div>
</div>
<h3 class="about__center-title">About Me</h3>
<p class="about__center-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit donec enim pulvinar morbi
    mauris. Eget sed porttitor proin molestie rhoncus. Tristique vitae lorem vitae accumsan senectus vel. Nulla sed
    vitae, magna ut ut amet, sit vitae, nec. </p>