<div class="info__abs">
    <div class="info__img">
        <img src="images/logo-big.svg" alt="">
    </div>
    <ul class="info__list">
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="tel:2055550100" class="info__link">(205) 555-0100</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="mailto:Steward@gmail.com" class="info__link">Matt Steward@gmail.com</a>
        </li>
        <li>
            @@include('../cube-mini/cube-mini.html')
            <a href="#" class="info__link">2715 Ash Dr. San Jose, South Dakota 83475</a>
        </li>
    </ul>
</div>