<h3 class="info__title">Contact me</h3>
<p class="info__descr">
    I am interested in freelance opportunities-especially ambitious or large
    projects. However, if you have other request or question, don`t hesilate to contact me using below form either.
</p>
<form action="" class="info__form">
    <div class="info__separator">
        <input type="text" name="name" class="info__input" placeholder="NAME" required>
        <input type="email" name="email" class="info__input" placeholder="EMAIL" required>
    </div>
    <input type="text" class="info__input" name="subject" placeholder="SUBJECT" required>
    <textarea name="message" class="info__input info__area" placeholder="MESSAGE" required></textarea>
    <button class="info__btn">send</button>
</form>