<div class="skills__top">
    <div class="skills__top2">
        <div class="skills__top3">
            <div class="skills__cube">
                <div class="skills__img">
                    <img src="images/logo.svg" alt="">
                </div>
                <div class="skills__cube-item front"></div>
                <div class="skills__cube-item back"></div>
                <div class="skills__cube-item right"></div>
                <div class="skills__cube-item left"></div>
                <div class="skills__cube-item top"></div>
                <div class="skills__cube-item bottom"></div>
            </div>
        </div>
    </div>
</div>
<div class="skills__abs"></div>
<div class="skills__abs2"></div>