<div class="skills__grid">
    <div class="skills__card">
        <h3 class="skills__title">
            @@include('../cube-mini/cube-mini.html')
            <span>Clean & Modern</span>
        </h3>
        <ul class="skills__descr">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit
                consectetur. Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut
                nulla tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.</li>
        </ul>
    </div>
    <div class="skills__card">
        <h3 class="skills__title">
            @@include('../cube-mini/cube-mini.html')
            <span>Responsive</span>
        </h3>
        <ul class="skills__descr">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit
                consectetur. nu
            </li>
            <li>
                Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla
                tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.</li>
        </ul>
    </div>
    <div class="skills__card">
        <h3 class="skills__title">
            @@include('../cube-mini/cube-mini.html')
            <span>HTML5 + CSS3</span>
        </h3>
        <ul class="skills__descr">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li> Molestie nullam etiam est mauris elit sit consectetur. Ac vitae interdum lorem ac enim elementum
                pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. </li>
            <li> Risus cras arcu tellus mi massa mi i.</li>
        </ul>
    </div>
    <div class="skills__card">
        <h3 class="skills__title">
            @@include('../cube-mini/cube-mini.html')
            <span>Free of Charge</span>
        </h3>
        <ul class="skills__descr">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit
                consectetur. Ac vitae interdum
            </li>
            <li>
                lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. Risus cras arcu
                tellus mi massa mi id eu adipiscing.</li>
        </ul>
    </div>
</div>